:root {
  --width-main: 32rem;
}

html {
  color: #111;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

@media (min-width: 1000px) {
  html {
    font-size: 1.5vw;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 24px;
  }
}

body {
  margin: 2rem 1rem 4rem 1rem;
  word-wrap : break-word;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 4rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

hr {
  border-top: 1px solid #ccc;
  margin: 2rem;
}

img {
  max-width: 100%;
}

p {
  margin-top: 0.2rem;
}

ol,
ul {
  padding-left: 1.5rem;
}

code {
  font-family: monospace;
}

pre {
  background-color: #eee;
  font-size: 0.9rem;
  line-height: 1.3;
  overflow-wrap: break-word;
  padding: 0.75rem;
  white-space: pre-wrap;
  word-break: break-all;
}

time {
  color: #666;
  display: block;
  font-size: 0.8rem;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--width-main));
}

header a {
  color: inherit;
  display: inline-block;
}

header ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}

header li {
  display: inline-block;
  margin-left: 1rem;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--width-main));
}

.articles {
  padding-left: 0;
  list-style-type: none;
}

.articles li + li {
  margin-top: 2rem;
}
