version: "3.7"

services:
  ruby:
    command: bundle exec rackup --host 0.0.0.0
    environment:
      SHELL: /bin/sh
    image: ruby:2.6.5
    ports:
      - 9292:9292
    volumes:
      - .:/app
    working_dir: /app
