:root {
  --color-light: #666;
}

html {
  color: #333;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

@media (min-width: 1000px) {
  html {
    font-size: 1.6vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 19.2px;
  }
}

body {
  margin: 0 auto;
  max-width: 36rem;
  padding: 2rem 1rem 4rem;
  word-wrap : break-word;
}

article {
  margin-top: 4rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

hr {
  border-width: 0px;
  font-size: 1rem;
  margin: 4rem 0;
  text-align: center;
}

hr:before {
  color: var(--color-light);
  content: "â§";
  font-size: 1.5rem;
}

figure {
  margin: 0;
}

figcaption {
  color: var(--color-light);
  font-size: 0.8rem;
  text-align: center;
  margin: 0.25rem 0 2rem;
}

img {
  backface-visibility: hidden;
  display: block;
  margin: 2rem auto;
  max-width: 100%;
}

figure img {
  margin-bottom: 0;
}

p {
  margin-top: 1rem;
}

ol,
ul {
  padding-left: 1.5rem;
}

code {
  border-radius: 0.2rem;
  font-family: monospace;
  font-size: 0.8rem;
  background-color: #eee;
  padding: 0.2rem 0.4rem;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

pre {
  background-color: #333;
  color: #eee;
  line-height: 1.3;
  padding: 0.75rem;
  overflow-x: auto;
}

figure > pre {
  margin-bottom: 0;
}

blockquote {
  border-left: 0.25rem solid #eee;
  color: #999;
  font-style: italic;
  margin-left: 1rem;
  padding-left: 1rem;
}

time {
  color: var(--color-light);
  display: block;
  font-size: 0.8rem;
}

nav a {
  color: inherit;
  display: inline-block;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-left: 1rem;
}

dt {
  margin-top: 1rem;
}

.articles {
  padding-left: 0;
  list-style-type: none;
}

.articles li + li {
  margin-top: 2rem;
}
