<article>
  <h1>{{ title }}</h1>
  <footer>
    <p>
      <time datetime="{{ publishedTimeInISO8601 }}">{{ dateInJapanese }}</time>
    </p>
  </footer>
  <div>
    {{{ renderedBody }}}
  </div>
</article>
