<section>
  <h2>記事</h2>
  <ol class="articles">
    {{#articles}}
      <li>
        <time datetime="{{ dateInISO8601 }}">{{ dateInJapanese }}</time>
        <a href="/articles/{{ slug }}.html">{{ title }}</a>
      </li>
    {{/articles}}
  </ol>
</section>
<section>
  <h2>説明</h2>
  <p>このウェブサイトでは、日々の生活やプログラミングなどに関する、個人的な文章を公開しています。</p>
  <p>このウェブサイトについて連絡したいことがある場合は、<a href="https://twitter.com/r7kamura">Twitter</a>、<a href="https://github.com/r7kamura/r7kamura.github.io/issues">GitHub</a>、または<a href="mailto:r7kamura@gmail.com">メール</a>にてご連絡ください。</p>
</section>
<section>
  <h2>作者</h2>
  <p>Ryo Nakamura</p>
</section>
