<section>
  <h2>記事</h2>
  <ol class="articles">
    {{#articles}}
      <li>
        <time datetime="{{ dateInISO8601 }}">{{ dateInJapanese }}</time>
        <a href="/blog/{{ date }}.html">{{ title }}</a>
      </li>
    {{/articles}}
  </ol>
</section>
<section>
  <h2>説明</h2>
  <p>このウェブサイトでは、日々の生活やプログラミングなどに関する、r7kamuraの個人的な文章を公開しています。</p>
</section>
