<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <link href="{{{ canonical }}}" rel="canonical">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="search" type="application/opensearchdescription+xml" title="r7kamura.com" href="/opensearch.xml">
  <link rel="alternate" type="application/rss+xml" href="/feed.xml">
  <meta property="og:type" content="{{ ogType }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="https://r7kamura.com{{{ canonical }}}">
  {{#image}}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="og:image" content="https://r7kamura.com{{{ path }}}">
  {{/image}}
  {{^image}}
  <meta property="twitter:card" content="summary">
  {{/image}}
</head>
<body>
  <header>
    <nav>
      <a href="/">トップページ</a>
      <ul>
        <li>
          <a href="/articles">記事</a>
        </li>
        <li>
          <a href="https://google.com/search?q=site:r7kamura.com">検索</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {{{ content }}}
  </main>
</body>
</html>
