<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">r7kamura</a>
    </nav>
  </header>
  <main>
    {{{ content }}}
  </main>
</body>
</html>
