<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <link href="{{ canonical_url|safe }}" rel="canonical">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="search" type="application/opensearchdescription+xml" title="r7kamura.com" href="/opensearch.xml">
  <link rel="alternate" type="application/rss+xml" href="/feed.xml">
  <meta property="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ canonical_url|safe }}">
  {% if image_url.is_some() %}
  <meta property="og:image" content="{{ image_url.unwrap()|safe }}">
  <meta property="twitter:card" content="summary_large_image">
  {% else %}
  <meta property="og:image" content="https://r7kamura.com/default_og_image.jpg">
  <meta property="twitter:card" content="summary">
  {% endif %}
</head>
<body>
  <header>
    <nav>
      <p>
        <a href="/">r7kamura.com</a>
      </p>
      <ul>
        <li>
          <a href="/links">リンク集</a>
        </li>
        <li>
          <a href="https://www.google.com/search?q=site:{{ request_host }}">検索</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
</body>
</html>
