{% extends "layout.html" %}
{% block content %}
<section>
  <h1>リンク集</h2>
  <dl>
    <dt>
      <a href="/feed.xml">RSS</a>
    </dt>
    <dd>
      記事の更新情報をRSSフィードで配信しています。
    </dd>
    <dt>
      <a href="https://github.com/r7kamura/r7kamura.com">ソースコード</a>
    </dt>
    <dd>
      このウェブサイトのソースコードをGitHubで公開しています。
    </dd>
    <dt>
      <a href="https://github.com/sponsors/r7kamura">スポンサー募集</a>
    </dt>
    <dd>
      このウェブサイトの運営やr7kamuraのOSS活動を支援していただける方を、GitHub Sponsorsで募集しています。
    </dd>
    <dt>
      <a href="https://www.amazon.co.jp/">Amazon.co.jp</a>
    </dt>
    <dd>
      このウェブサイトでは、商品を紹介するためにAmazon.co.jpアソシエイトを利用しています。
    </dd>
    <dt>
      <a href="https://twitter.com/r7kamura">@r7kamura</a>
    </dt>
    <dd>
      r7kamuraのTwitterアカウントです。
    </dd>
    <dt>
      <a href="mailto:r7kamura@gmail.com">メール</a>
    </dt>
    <dd>
      ご不明点やお問い合わせなどの連絡先です。
    </dd>
  </dl>
</section>
{% endblock content %}
