name: publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: bundler
          key: bundler-v2-${{ runner.OS }}-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            bundler-v2-${{ runner.OS }}-${{ hashFiles('Gemfile.lock') }}
            bundler-v2-${{ runner.OS }}-
      - run: rm docker-compose.override.yml
      - run: docker-compose run -e BUNDLE_APP_CONFIG=/app/.bundle --rm ruby bundle install --jobs=4 --path=bundler
      - run: docker-compose run -e BUNDLE_APP_CONFIG=/app/.bundle --rm ruby bundle exec rake build
      - uses: peaceiris/actions-gh-pages@v2.5.0
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: dist
